<!DOCTYPE html>
<html lang="en" class="gr__eostime_io">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>EOSTime</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="assets/css/bootstrap_darkly.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/css/bootstrap-slider.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/custom_css.css"/>
        <link rel="stylesheet" href="assets/css/flag_icons.min.css"/>
    </head>
    <body data-gr-c-s-loaded="true">
    
        <!-- right nav -->
        <nav class="navbar navbar-expand d-lg-none navbar-dark fixed-top subnav">
            <div class="container">
                    <ul class="navbar-nav ml-auto">
                        <!--<li class="nav-item d-flex">
                            <div class="cpu-gauge"><canvas width="40" height="40"></canvas></div>
                        </li>
                        <li class="nav-item d-flex">
                            <div class="net-gauge"><canvas width="40" height="40"></canvas></div>
                        </li>-->
                        <li class="nav-item d-flex">
                            <div class="flex-center m-r-20 user-tokens">
                                <span class="icon-eos_icon font-24 font-blue-glow mr-2"></span>
                                <span class="eos-balance balance-value">0</span>
                            </div>
                        </li>
                        <li class="nav-item d-flex">
                            <div class="flex-center user-tokens">
                                <span class="icon-time_token1 font-24 col-yellow mr-2"></span>
                                <span class="coin-balance balance-value">0</span>
                            </div>
                        </li>
                    </ul>
            </div>
        </nav>
        <!-- /end right nav
        
        <!-- left nav -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
        
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/eostime_text_logo.svg" height="20" alt="EOSTime">
          </a>
          
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLeft" aria-controls="navLeft" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navLeft">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link english lang d-none" href="/">HOME</a>
                            <a class="nav-link chinese lang d-none" href="/">主頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link english lang d-none" href="faucet.html">FAUCET</a>
                            <a class="nav-link chinese lang d-none" href="faucet.html">龍頭</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link english lang d-none" href="airdrops.html">AIRDROPS</a>
                            <a class="nav-link chinese lang d-none" href="airdrops.html">空投</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link english lang d-none" href="referrals.html">REFERRALS</a>
                            <a class="nav-link chinese lang d-none" href="referrals.html">推介</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link blue-flash english lang d-none" href="dividend.html">DIVIDEND</a>
                            <a class="nav-link blue-flash chinese lang d-none" href="dividend.html">股利</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <div class="cpu-gauge"><canvas width="40" height="40"></canvas></div>
                        </li>
                        <li class="nav-item">
                            <div class="net-gauge"><canvas width="40" height="40"></canvas></div>
                        </li>
                    </ul>
            
                    <ul class="navbar-nav ml-auto">
        
                        <li class="nav-item d-none d-lg-flex">
                            <div class="flex-center m-r-20 user-tokens">
                                <span class="icon-eos_icon font-16 font-blue-glow mr-2"></span>
                                <span class="eos-balance balance-value">0</span>
                            </div>
                        </li>
                        <li class="nav-item d-none d-lg-flex">
                            <div class="flex-center m-r-20 user-tokens">
                                <span class="icon-time_token1 font-16 col-yellow mr-2"></span>
                                <span class="coin-balance balance-value">0</span>
                            </div>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <div class="developer-mode" style="position: relative; cursor: pointer;">
                                <a class="network-selector mainnet english lang d-none nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main Net</a>
                                <a class="network-selector mainnet chinese lang d-none nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">主網</a>
                                <a class="network-selector jungle english lang d-none nav-link dropdown-toggle"" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jungle</a>
                                <a class="network-selector jungle chinese lang d-none nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">叢林</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="select-mainnet dropdown-item english lang d-none" href="#">Main Net</a>
                                    <a class="select-mainnet dropdown-item chinese lang d-none" href="#">主網</a>
                                    <a class="select-jungle dropdown-item english lang d-none" href="#">Jungle</a>
                                    <a class="select-jungle dropdown-item chinese lang d-none" href="#">叢林</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-flex align-items-center mr-2">
                            <div class="language" style="position: relative; cursor: pointer;">
                                <a class="nav-link dropdown-toggle" id="language_selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-gb english lang d-none"></span><span class="flag-icon flag-icon-cn chinese lang d-none"></span> <span class="english lang d-none">EN</span><span class="chinese lang d-none">CN</span></a>
                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                    <a class="dropdown-item select-lang" href="javascript:;" data-lang="english"><span class="flag-icon flag-icon-gb"></span> EN</a>
                                    <a class="dropdown-item select-lang" href="javascript:;" data-lang="chinese"><span class="flag-icon flag-icon-cn"></span> CN</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <button class="login-button english lang d-none logged-out-view btn btn-outline-yellow my-2 my-sm-0 d-none" type="button">Log In</button>
                            <button class="login-button chinese lang d-none logged-out-view btn btn-outline-yellow my-2 my-sm-0 d-none" type="button">登錄</button>
                            <button class="logout-button english lang d-none logged-in-view btn btn-outline-yellow my-2 my-sm-0" type="button">Log Out</button>
                            <button class="logout-button chinese lang d-none logged-in-view btn btn-outline-yellow my-2 my-sm-0" type="button">登出</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /end left nav-->
        
        <main id="games_container" roll="main" class="container pt-3 pb-5">
        
            <!-- GUI for auctionGame -->
            <div id="auctionGame" class="auction-game-outer-container">
        
                <div class="auction-instances-loading pt-2 text-center d-none">Loading EOSTime...</div>
        
                <!-- Main auctions area -->
                <div class="main-auction-area row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">

                        <!-- TIME give ratio -->
                        <div class="row">
                            <div class="card dark col-12">
                                <div class="card-body p-4">
                                    <div class="flex-center">
                                        <span class="icon-time_token1 font-36 col-yellow m-r-10"></span>
                                        <div class="flex-left flex-column">
                                            <span class="font-24 english lang d-none">Bid to win <span class="icon-eos_icon font-36 {% if red %}white-glow{% else %}font-blue-glow{% endif %} m-r-5"></span> EOS</span>
                                            <span class="font-24 chinese lang d-none">出價要贏 <span class="icon-eos_icon font-36 {% if red %}white-glow{% else %}font-blue-glow{% endif %} m-r-5"></span> EOS</span>
                                            <span class="col-yellow english lang d-none">Earn TIME tokens with each bid!</span>
                                            <span class="col-yellow chinese lang d-none">賺 TIME 每次出價的代幣</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="abs-corner">
                                    <i class="far fa-question-circle font-16 text-muted" data-id="bid-to-earn-time-modal"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /end TIME give ratio -->

                        <div class="auction-instances-container row">

                        </div>
                    </div>
                    
                    <!-- winners -->
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            
                            <!-- winners table -->
                            <div class="auction-winners col-12 px-2 mb-3">
                                <div class="card dark">
                                    <div class="card-body p-0">
                                        <h5 class="pt-2 text-center english lang d-none">Auction Winners</h5>
                                        <h5 class="pt-2 text-center chinese lang d-none">拍賣獲獎者</h5>
                                        
                                        <ul class="referral-table header mt-1 mb-0">
                                            <li class="info-row no-bg font-muted m-r-10">
                                                <span class="english lang d-none">User</span>
                                                <span class="chinese lang d-none">用戶</span>
                                                <span class="english lang d-none">Time</span>
                                                <span class="chinese lang d-none">時間</span>
                                                <span class="english lang d-none">Prize</span>
                                                <span class="chinese lang d-none">獎</span>
                                            </li>
                                        </ul>
                                        
                                        <div class="auction-winners">
                                        <ul class="auction-winners-inner referral-table leaders scrollable mb-0">
                                
                                        </ul>
                                        </div>
                                        <div class="font-muted text-left small px-2 py-2 english lang d-none">* Prizes are paid out automatically</div>
                                        <div class="font-muted text-left small px-2 py-2 chinese lang d-none">* 獎品自動支付</div>
                                    </div>
                                    <div class="abs-corner">
                                        <i class="far fa-question-circle font-16 text-muted" data-id="winners-table-modal"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- /end winners table -->
                            
                        </div>
                    </div>
                    <!-- / end winners -->
                    
                </div>
                <!-- /end Main auctions area -->
        
            </div>
            <!-- /end GUI -->
        
        </main>
        
        <!-- Template for an auction instance -->
        <div class="auction-instance-template auction-instance col-lg-6 col-md-4 col-sm-6 col-12 pb-3 pr-2 pl-2 d-none">
            <div class="card dark text-white auction-instance-inner-container">
                <div class="card-body">
                    <div class="abs-corner">
                        <i class="far fa-question-circle font-16 text-muted" data-id="auction"></i>
                    </div>
                    <div class="auction-instance-busy d-none">
                        <div><img src="assets/images/loading.svg"></div>
                    </div>
                    <!--<div class="auction-instance-small-text text-right font-muted abs-corner">ID: <span class="auction-instance-id">76</span></div>-->
                    <div class="auction-instance-prize-pool flex-center my-3"><span class="icon-eos_icon font-36 {% if red %}white-glow{% else %}font-blue-glow{% endif %} m-r-10"></span> <span class="text-primary col-white font-glow">1.0792</span></div>
                    <div class="flex-center">
                        <div>
                            <div class="auction-instance-bidder auction-instance-med-text flex-center-row"><i class="far fa-user font-16 m-r-10 font-muted"></i><span class="col-blue"></span></div>
                            <div class="auction-instance-remaining-time flex-center-row">
                                <div class="count_down" class="flex-center">
                                    <i class="far fa-clock font-16 m-r-10 font-muted"></i>
                                    <div class="flex-center">
                                        <div class="days-container d-none flex-center">
                                        	<div class="count_down_box"><div class="box auction-instance-days"></div></div>
                                        	<div class="dots">:</div>
                                    	</div>
                                    	<div class="count_down_box"><div class="box auction-instance-hours"></div></div>
                                    	<div class="dots">:</div>
                                    	<div class="count_down_box"><div class="box auction-instance-minutes"></div></div>
                                    	<div class="dots">:</div>
                                    	<div class="count_down_box"><div class="box auction-instance-seconds"></div></div>
                                	</div>
                                </div>
                            </div>
                            <div class="auction-instance-remaining-bids auction-instance-med-text flex-center-row">
                                <i class="fas fa-ticket-alt font-16 m-r-10 font-muted"></i>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div style="height: 42px;" class="m-t-20 flex-center">
                        <div class="auction-instance-ended no-user-select d-none">
                            <span class="english lang d-none">ENDED</span>
                            <span class="chinese lang d-none">結束</span>
                        </div>
                        <button type="button" class="auction-instance-login-button btn btn-small btn-outline-yellow shadow-x d-none">
                            <span class="english lang d-none">Login</span>
                            <span class="chinese lang d-none">登錄</span>
                        </button>
                        <button type="button" class="auction-instance-bid-button btn btn-small btn-outline-yellow shadow-x">
                            <span class="english lang d-none">Bid </span>
                            <span class="chinese lang d-none">出價 </span>
                            <span class="auction-instance-bid-amount"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /end auction template -->
        
        <!-- winners row template -->
        <li class="info-row big auction-winner-instance-template auction-winner-board-instance d-none">
            <span class="auction-winner-name col-blue"></span>
            <span class="auction-winner-time"></span>
            <span class="auction-winner-amount">
                <div class="flex-center">
                    <span class="icon-eos_icon font-16 font-blue-glow m-r-10"></span>
                    <span></span>
                </div>
            </span>
        </li>
        <!--/end winners row template -->
        
        <!-- modal -->
        <div class="modal fade" id="info_modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="card dark card-modal">
                    <div class="card-body">
                        <div class="card-title font-muted modal-title mb-3">
                            <div class="bid-to-earn-time-modal english lang modal-title-inner d-none">
                                Bid To Win <span class="icon-eos_icon font-20 {% if red %}white-glow{% else %}font-blue-glow{% endif %} m-r-5"></span> EOS</span>
                            </div>
                            <div class="bid-to-earn-time-modal chinese lang modal-title-inner d-none">
                                出價要贏 <span class="icon-eos_icon font-20 {% if red %}white-glow{% else %}font-blue-glow{% endif %} m-r-5"></span> EOS</span>
                            </div>

                            <!-- WINNERS TABLE-->
                            <div class="winners-table-modal english lang modal-title-inner d-none">
                                Recent Winners
                            </div>
                            <div class="winners-table-modal chinese lang modal-title-inner d-none">
                                最近的獲獎者
                            </div>
                        </div>
                        <div class="info-row px-4 py-4 modal-body">
                            <div class="bid-to-earn-time-modal english lang modal-body-inner d-none">
                                EOSTime auctions are very simple to play:
                                <ul>
                                    <li>
                                        Bid the indicated amount of EOS to become the <i class="far fa-user font-16"></i> current auction leader.
                                    </li>
                                    <li>If you are the auction leader when the timer runs out OR when
                                        the <i class="fas fa-ticket-alt font-16"></i> bid counter goes to 0, you win the EOS prize pool shown.
                                    </li>
                                    <li>
                                        All prizes are paid out automatically when the auction ends.
                                    </li>
                                </ul>
                                You also will be awarded 333 TIME tokens for each EOS bid. TIME tokens
                                represent your portion of the <a href="dividend.html">dividend pool</a>.
                            </div>
                            <div class="bid-to-earn-time-modal chinese lang modal-body-inner d-none">
                                EOSTime 拍賣很簡單玩:
                                <ul>
                                    <li>
                                        出價投標指定數量的EOS成為當前的拍賣領導者
                                    </li>
                                    <li>
                                        如果您在計時器用完時成為拍賣領導者，或者當<i class="fas fa-ticket-alt font-16"></i>出價計數器用完時，您將贏得所示的EOS獎池
                                    </li>
                                    <li>
                                        所有獎品均在拍賣結束時自動支付
                                    </li>
                                </ul>
                                每個EOS出價也將獲得333個TIME代幣。时间令牌代表你的部分<a href="dividend.html">股息池</a>。
                            </div>

                            <!-- WINNERS TABLE -->
                            <div class="winners-table-modal english lang modal-body-inner d-none">
                                These are our most recent auction winners. Remember, when you
                                win, your EOS prize and bonus TIME tokens are automatically sent
                                to you.
                            </div>
                            <div class="winners-table-modal chinese lang modal-body-inner d-none">
                                这些是我们最近的拍卖获奖者。请记住，当您获胜时，您的EOS奖励和奖励TIME代币会自动发送给您。
                            </div>
                        </div>
                    </div>
                    <div class="abs-corner flex-center">
                        <i class="far fa-times-circle font-16 text-muted" data-dismiss="modal" aria-label="Close"></i>
                    </div>
                </div>
                </div>
          </div>
        </div>
        <!-- /end modal -->
        
        <!-- footer -->
        <footer class="footer mt-5">
          <div class="container flex-center-row flex-space-between">
              <a href="#">
                <img src="assets/images/eostime_text_logo.svg" height="20" alt="EOSTime">
              </a>
              <div class="social flex-center-row flex-space-between">
                  <a href="#" class="flex-center"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="flex-center"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="flex-center"><i class="fab fa-medium-m"></i></a>
                  <a href="#" class="flex-center"><i class="fab fa-telegram-plane"></i></a>
                  <a href="#" class="flex-center"><i class="fab fa-reddit-alien"></i></a>
                  <a href="#" class="flex-center"><span class="icon-steemit"></span></a>
              </div>
          </div>
        </footer>
        <!-- /end footer -->

        <!-- Dev Mode Footer -->
        <footer class="fixed-bottom developer-mode d-none">
            <div class="row">
                <div id="dev_error_message_container" class="col-5 text-left"></div>
                <div class="col-7 text-right">
                    <b>DEVELOPER MODE</b> -- Current Key: <span class="account-name"></span> [<span class="public-key"></span>]
                </div>
            </div>
        </footer>
        <div class="dev-error-message-row-template row pb-1 d-none">
            <div class="dev-clear-errors col-1 text-left" style="line-height: 1;"></div>
            <div class="dev-error-message col-11 text-left" style="line-height: 1;"></div>
        </div> 
        
    </body>

    <!-- Scripting needed to support the eosroller app -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.1/bootstrap-slider.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>
    <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/eosjs@16.0.0/lib/eos.min.js" integrity="sha512-vNyLnOEb7uFmEtVbLnyZQ9/k4zckM2Vu3jJOKq6XfWEVZG0yKcjDExVN4EQ7e3F+rePWRncMolI2xFi/3qo62A==" crossorigin="anonymous"></script>
    <script src="assets/js/eostime-bundle.min.js"></script>
</html>