<!-- footer -->
<footer class="footer mt-5">
    <div class="container flex-center-row flex-space-between">
        <a href="#">
            <img src="assets/images/eostime_text_logo.svg" height="20" alt="EOSTime">
        </a>
        <div class="social flex-center-row flex-space-between pt-1 d-md-none">
            <div>
                <a href="https://twitter.com/eos_time" target="_blank" class="flex-center"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/eostimeio" target="_blank" class="flex-center"><i class="fab fa-facebook-f"></i></a>
            </div><div>
                <a href="https://medium.com/@eostime" target="_blank" class="flex-center"><i class="fab fa-medium-m"></i></a>
                <a href="https://t.me/eostime" target="_blank" class="flex-center"><i class="fab fa-telegram-plane"></i></a>
            </div><div>
                <a href="https://www.reddit.com/r/EOSTime/" target="_blank" class="flex-center"><i class="fab fa-reddit-alien"></i></a>
                <a href="https://steemit.com/@eostime" target="_blank" class="flex-center"><span class="icon-steemit"></span></a>
            </div>
        </div>
        <div class="social flex-center-row flex-space-between d-none d-md-flex">
            <a href="https://twitter.com/eos_time" target="_blank" class="flex-center"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/eostimeio" target="_blank" class="flex-center"><i class="fab fa-facebook-f"></i></a>
            <a href="https://medium.com/@eostime" target="_blank" class="flex-center"><i class="fab fa-medium-m"></i></a>
            <a href="https://t.me/eostime" target="_blank" class="flex-center"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://www.reddit.com/r/EOSTime/" target="_blank" class="flex-center"><i class="fab fa-reddit-alien"></i></a>
            <a href="https://steemit.com/@eostime" target="_blank" class="flex-center"><span class="icon-steemit"></span></a>
        </div>
    </div>
</footer>
<!-- /end footer -->

<!-- Dev Mode Footer -->
<footer class="fixed-bottom developer-mode d-none">
    <div class="row">
        <div id="dev_error_message_container" class="col-5 text-left"></div>
        <div class="col-7 text-right">
            <b>DEVELOPER MODE</b> -- Current Key: <span class="account-name"></span> [<span class="public-key"></span>]
        </div>
    </div>
</footer>
<div class="dev-error-message-row-template row pb-1 d-none">
    <div class="dev-clear-errors col-1 text-left" style="line-height: 1;"></div>
    <div class="dev-error-message col-11 text-left" style="line-height: 1;"></div>
</div>
